<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
  <head></head>

  <body>

  <div class="x_content" th:fragment="content">

      <form class="form-inline" th:action="@{${links.courses}}" th:object="${object}" method="post" >
          <a class="btn btn-primary" th:href="${links.courses}">
              <i class="fa fa-edit"></i>
              <span th:text="${lang.sideCourses}"></span>
          </a>

      </form>

    <form enctype="multipart/form-data" action="#" th:action="@{${links.form_submit}}" th:object="${object}" method="post" class="form-horizontal form-label-left">

      <textarea th:unless="${editable} == null" style="display: none;" th:text="${editable.id}" th:field="*{id}" class="form-control col-md-7 col-xs-12"></textarea>

      <!--Course Name text-->
      <div class="item form-group">
        <label class="control-label col-md-3 col-sm-3 col-xs-12" th:text="${lang.courseName}"></label>
        <div class="col-md-6 col-sm-6 col-xs-12">
          <textarea th:if="${editable} == null" required="required" th:field="*{courseName}" class="form-control col-md-7 col-xs-12"></textarea>
          <textarea th:unless="${editable} == null" required="required" th:text="${editable.courseName}" th:field="*{courseName}" class="form-control col-md-7 col-xs-12"></textarea>
        </div>
      </div>
      <!--Course Image View-->
      <div th:if="${editable} == null" class="item form-group" style="display: none" id="divCourseImageView">
        <label class="control-label col-md-3 col-sm-3 col-xs-12"></label>
        <div class="col-md-4 col-sm-4 col-xs-12">
          <img style="max-height: 120px;" id="courseImageView"/>
        </div>
      </div>
      <div th:unless="${editable} == null" class="item form-group" id="divCourseImageView">
        <label class="control-label col-md-3 col-sm-3 col-xs-12"></label>
        <div class="col-md-4 col-sm-4 col-xs-12">
          <img th:src="${editable.courseImgPath}" style="max-height: 120px;" id="courseImageView"/>
        </div>
      </div>

      <!--Course image-->
      <div class="item form-group">
        <label class="control-label col-md-3 col-sm-3 col-xs-12" ></label>
        <div class="control-label col-md-3 col-sm-3 col-xs-12">
          <input th:if="${editable} == null" type="file" th:field="*{courseImg}"/>
          <input th:unless="${editable} == null" type="file" th:field="*{courseImg}"/>
        </div>
      </div>

      <!--Latitude text-->
      <div class="item form-group">
        <label class="control-label col-md-3 col-sm-3 col-xs-12" th:text="${lang.latitude}"></label>
        <div class="col-md-6 col-sm-6 col-xs-12">
          <input th:if="${editable} == null" th:field="*{latitude}" class="form-control col-md-7 col-xs-12" type="text"/>
          <input th:unless="${editable} == null" th:value="${editable.latitude}" name="latitude" class="form-control col-md-7 col-xs-12" type="text"/>
        </div>
      </div>

      <!--Longitude text-->
      <div class="item form-group">
        <label class="control-label col-md-3 col-sm-3 col-xs-12" th:text="${lang.longitude}"></label>
        <div class="col-md-6 col-sm-6 col-xs-12">
          <input th:if="${editable} == null" th:field="*{longitude}" class="form-control col-md-7 col-xs-12" type="text"/>
          <input th:unless="${editable} == null" th:value="${editable.longitude}" name="longitude" class="form-control col-md-7 col-xs-12" type="text"/>
        </div>
      </div>

      <!--Phone text-->
      <div class="item form-group">
        <label class="control-label col-md-3 col-sm-3 col-xs-12" th:text="${lang.phone}"></label>
        <div class="col-md-6 col-sm-6 col-xs-12">
          <input th:if="${editable} == null" required="required" th:field="*{coursePhone}" class="form-control col-md-7 col-xs-12" type="text"/>
          <input th:unless="${editable} == null" required="required" th:value="${editable.coursePhone}" name="coursePhone" class="form-control col-md-7 col-xs-12" type="text"/>
        </div>
      </div>

      <!--Course Rating text-->
      <div class="item form-group">
        <label class="control-label col-md-3 col-sm-3 col-xs-12" th:text="${lang.rating}"></label>
        <div class="col-md-6 col-sm-6 col-xs-12">
          <input th:if="${editable} == null" required="required" th:field="*{courseRating}" class="form-control col-md-7 col-xs-12" type="text"/>
          <input th:unless="${editable} == null" required="required" th:value="${editable.courseRating}" name="courseRating" class="form-control col-md-7 col-xs-12" type="text"/>
        </div>
      </div>

      <div class="clearfix"></div>

      <!--Submit-->
      <div class="ln_solid"></div>

      <div th:replace="${@environment.getProperty('submit')} :: submit"></div>

    </form>

  </div>


  </body>
</html>