<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
  <head></head>

  <body>

  <div class="x_content" th:fragment="content">

      <form class="form-inline" th:action="@{${links.faqs}}" th:object="${object}" method="post" >
          <a class="btn btn-primary" th:href="${links.faqs}">
              <i class="fa fa-edit"></i>
              <span th:text="${lang.sideQAs}"></span>
          </a>

      </form>

    <form th:action="@{${links.form_submit}}" th:object="${object}" method="post" class="form-horizontal form-label-left">

      <textarea th:unless="${editable} == null" style="display: none;" th:text="${editable.id}" th:field="*{id}" class="form-control col-md-7 col-xs-12"></textarea>

      <!--Question text-->
      <div class="item form-group">
        <label class="control-label col-md-3 col-sm-3 col-xs-12" th:text="${lang.faqQuestion}"></label>
        <div class="col-md-6 col-sm-6 col-xs-12">
          <textarea th:if="${editable} == null" required="required" th:field="*{questionText}" class="form-control col-md-7 col-xs-12"></textarea>
          <textarea th:unless="${editable} == null" required="required" th:text="${editable.questionText}" th:field="*{questionText}" class="form-control col-md-7 col-xs-12"></textarea>
        </div>
      </div>

      <!--Answer text-->
      <div class="item form-group">
        <label class="control-label col-md-3 col-sm-3 col-xs-12" th:text="${lang.faqAnswer}"></label>
        <div class="col-md-6 col-sm-6 col-xs-12">
          <textarea th:if="${editable} == null" required="required" th:field="*{answer}" class="form-control col-md-7 col-xs-12"></textarea>
          <textarea th:unless="${editable} == null" required="required" th:text="${editable.answer}" th:field="*{answer}" class="form-control col-md-7 col-xs-12"></textarea>
        </div>
      </div>

      <!--Russian Question text-->
      <div class="item form-group">
        <label class="control-label col-md-3 col-sm-3 col-xs-12" th:text="${lang.faqRuQuestion}"></label>
        <div class="col-md-6 col-sm-6 col-xs-12">
          <textarea th:if="${editable} == null" required="required" th:field="*{ruquestionText}" class="form-control col-md-7 col-xs-12"></textarea>
          <textarea th:unless="${editable} == null" required="required" th:text="${editable.ruquestionText}"  th:field="*{ruquestionText}" class="form-control col-md-7 col-xs-12"></textarea>
        </div>
      </div>

      <!--Russian Answer text-->
      <div class="item form-group">
        <label class="control-label col-md-3 col-sm-3 col-xs-12" th:text="${lang.faqRuAnswer}"></label>
        <div class="col-md-6 col-sm-6 col-xs-12">
          <textarea th:if="${editable} == null" required="required" th:field="*{ruanswer}" class="form-control col-md-7 col-xs-12"></textarea>
          <textarea th:unless="${editable} == null" required="required" th:text="${editable.ruanswer}" th:field="*{ruanswer}" class="form-control col-md-7 col-xs-12"></textarea>
        </div>
      </div>

      <div class="clearfix"></div>

      <!--Submit-->
      <div class="ln_solid"></div>

      <div th:replace="${@environment.getProperty('submit')} :: submit"></div>

    </form>

  </div>

  </body>
</html>