<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
  <head></head>

  <body>

  <div class="top_nav" th:fragment="nav">
    <div class="nav_menu">
      <nav>
        <div class="nav toggle">
          <a id="menu_toggle"><i class="fa fa-bars"></i></a>
        </div>

        <ul class="nav navbar-nav navbar-right">
          <li class="">
            <a href="javascript:;" class="user-profile dropdown-toggle" data-toggle="dropdown" aria-expanded="false">
              <img src="" alt=""/>
              <span th:text="${username}"></span>
              <span class=" fa fa-angle-down"></span>
            </a>
            <ul class="dropdown-menu dropdown-usermenu pull-right">
              <li>
                  <a th:href="@{/admin/logout}">
                      <i class="fa fa-sign-out pull-right"></i>
                      <span th:text="${lang.navBarLogOut}"></span>
                  </a>
              </li>
            </ul>
          </li>
        </ul>
      </nav>
    </div>
  </div>
  </body>
</html>